n8n/workflow.json
{
  "name": "Moedas Monitoradas — Crypto Price Hunter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "cryptoIds",
              "value": "={{ $env.CRYPTO_IDS || 'bitcoin,ethereum,solana,cardano,chainlink' }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "limit",
              "value": "={{ $env.CRYPTO_LIMIT || '5' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set",
      "name": "Set Crypto Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.coingecko.com/api/v3/coins/markets",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "vs_currency", "value": "brl" },
            { "name": "ids",         "value": "={{ $json.cryptoIds }}" },
            { "name": "order",       "value": "market_cap_desc" },
            { "name": "per_page",    "value": "={{ $json.limit }}" },
            { "name": "page",        "value": "1" },
            { "name": "sparkline",   "value": "false" }
          ]
        },
        "options": {}
      },
      "id": "node-http-coingecko",
      "name": "Fetch CoinGecko Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const coins = $input.all().map(i => i.json);\nconst items = coins.map(coin => ({\n  id: coin.id,\n  title: coin.name + ' (' + coin.symbol.toUpperCase() + ')',\n  price: coin.current_price,\n  original_price: null,\n  currency_id: 'BRL',\n  permalink: 'https://www.coingecko.com/en/coins/' + coin.id,\n  seller: { id: null, nickname: coin.symbol.toUpperCase() }\n}));\nreturn [{ json: { items, query: 'crypto-brl' } }];"
      },
      "id": "node-code-extract",
      "name": "Extract Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://price-monitor:8001/webhook/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: $json.items, query: $json.query }) }}",
        "options": {}
      },
      "id": "node-http-analyze",
      "name": "Analyze Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.has_alert }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-alert",
      "name": "Has Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "const alerts = $json.alerts;\n\nfunction formatBRL(n) {\n  return 'R\\u00a4 ' + Number(n).toLocaleString('pt-BR', {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2\n  });\n}\n\nconst now = new Date().toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nconst sep = '\\u2500'.repeat(30);\n\nconst lines = alerts.map(a => {\n  const pct = Math.abs(a.variation_pct).toFixed(2).replace('.', ',');\n  return [\n    '\\uD83D\\uDD34 *' + a.title + '*',\n    '\\u2022 Anterior: ' + formatBRL(a.previous_price),\n    '\\u2022 Atual:    ' + formatBRL(a.current_price),\n    '\\u2022 Varia\\u00e7\\u00e3o: \\u25bc ' + pct + '%',\n    '\\uD83D\\uDD17 ' + a.permalink\n  ].join('\\n');\n});\n\nconst header = '\\uD83D\\uDEA8 *ALERTA DE QUEDA*\\n_Moedas Monitoradas_\\n' + sep;\nconst footer = sep + '\\n\\uD83D\\uDCC5 ' + now + ' (Bras\\u00edlia)';\n\nconst message = [header, ...lines, footer].join('\\n\\n');\n\nreturn [{ json: { message } }];"
      },
      "id": "node-format-alert",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-telegram-send",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1780, 180],
      "credentials": {
        "telegramApi": { "id": "telegram-credentials", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {},
      "id": "node-noop",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 420]
    }
  ],
  "connections": {
    "Schedule Trigger":       { "main": [[{ "node": "Set Crypto Params",       "type": "main", "index": 0 }]] },
    "Set Crypto Params":      { "main": [[{ "node": "Fetch CoinGecko Prices",  "type": "main", "index": 0 }]] },
    "Fetch CoinGecko Prices": { "main": [[{ "node": "Extract Items",           "type": "main", "index": 0 }]] },
    "Extract Items":          { "main": [[{ "node": "Analyze Prices",          "type": "main", "index": 0 }]] },
    "Analyze Prices":         { "main": [[{ "node": "Has Alert?",              "type": "main", "index": 0 }]] },
    "Has Alert?": { "main": [
      [{ "node": "Format Alert Message", "type": "main", "index": 0 }],
      [{ "node": "No Operation",         "type": "main", "index": 0 }]
    ]},
    "Format Alert Message":   { "main": [[{ "node": "Send Telegram Alert",     "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [{ "id": "tag-price-monitor", "name": "price-monitor" }],
  "triggerCount": 1,
  "versionId": "4"
}
