n8n/workflow.json
{
  "name": "ML Price Hunter — Monitor de Preços",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assignment-search-query",
              "name": "searchQuery",
              "value": "={{ $env.ML_SEARCH_QUERY || \"rtx 4070\" }}",
              "type": "string"
            },
            {
              "id": "assignment-limit",
              "name": "limit",
              "value": 5,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set",
      "name": "Set Search Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.mercadolibre.com/sites/MLB/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-http-ml-search",
      "name": "Search MercadoLivre",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first();\nconst body = results.json;\n\nconst rawItems = (body.results || []).slice(0, 5);\n\nconst items = rawItems.map(item => ({\n  id: item.id,\n  title: item.title,\n  price: item.price,\n  original_price: item.original_price,\n  currency_id: item.currency_id,\n  permalink: item.permalink,\n  seller: {\n    id: item.seller ? item.seller.id : null,\n    nickname: item.seller ? item.seller.nickname : null\n  }\n}));\n\nreturn [\n  {\n    json: {\n      items,\n      searchQuery: $('Set Search Params').first().json.searchQuery\n    }\n  }\n];"
      },
      "id": "node-code-extract",
      "name": "Extract Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://price-monitor:8001/webhook/analyze",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "mode": "json",
          "jsonOutput": "={{ JSON.stringify({ items: $json.items, query: $json.searchQuery }) }}"
        },
        "options": {}
      },
      "id": "node-http-analyze",
      "name": "Analyze Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-alert",
              "leftValue": "={{ $json.has_alert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-alert",
      "name": "Has Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.alerts.map(a => \"🔴 *\" + a.title + \"*\\nAntes: R$ \" + a.previous_price + \" → Agora: R$ \" + a.current_price + \" (\" + a.variation_pct + \"%)\\n\" + a.permalink).join(\"\\n\\n\") }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": false
        }
      },
      "id": "node-telegram-send",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 180],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "node-noop",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 420]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Search Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Search Params": {
      "main": [
        [
          {
            "node": "Search MercadoLivre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search MercadoLivre": {
      "main": [
        [
          {
            "node": "Extract Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Items": {
      "main": [
        [
          {
            "node": "Analyze Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Prices": {
      "main": [
        [
          {
            "node": "Has Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Alert?": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-06-01T00:00:00.000Z",
      "updatedAt": "2026-06-01T00:00:00.000Z",
      "id": "tag-price-monitor",
      "name": "price-monitor"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-06-01T00:00:00.000Z",
  "versionId": "1"
}
