n8n/workflow.json
{
  "name": "Crypto Price Hunter — Monitor de Preços",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "cryptoIds",
              "value": "={{ $env.CRYPTO_IDS || 'bitcoin,ethereum,solana,cardano,chainlink' }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "limit",
              "value": "={{ $env.CRYPTO_LIMIT || '5' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set",
      "name": "Set Crypto Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.coingecko.com/api/v3/coins/markets",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "vs_currency", "value": "brl" },
            { "name": "ids",         "value": "={{ $json.cryptoIds }}" },
            { "name": "order",       "value": "market_cap_desc" },
            { "name": "per_page",    "value": "={{ $json.limit }}" },
            { "name": "page",        "value": "1" },
            { "name": "sparkline",   "value": "false" }
          ]
        },
        "options": {}
      },
      "id": "node-http-coingecko",
      "name": "Fetch CoinGecko Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const coins = $input.all().map(i => i.json);\nconst items = coins.map(coin => ({\n  id: coin.id,\n  title: coin.name + ' (' + coin.symbol.toUpperCase() + ')',\n  price: coin.current_price,\n  original_price: null,\n  currency_id: 'BRL',\n  permalink: 'https://www.coingecko.com/en/coins/' + coin.id,\n  seller: { id: null, nickname: coin.symbol.toUpperCase() }\n}));\nreturn [{ json: { items, query: 'crypto-brl' } }];"
      },
      "id": "node-code-extract",
      "name": "Extract Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://price-monitor:8001/webhook/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: $json.items, query: $json.query }) }}",
        "options": {}
      },
      "id": "node-http-analyze",
      "name": "Analyze Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.has_alert }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-alert",
      "name": "Has Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.alerts.map(a => '🔴 *' + a.title + '*\\nAntes: R$ ' + a.previous_price.toFixed(2) + ' → Agora: R$ ' + a.current_price.toFixed(2) + '\\nQueda: ' + a.variation_pct + '%\\n' + a.permalink).join('\\n\\n') }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-telegram-send",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 180],
      "credentials": {
        "telegramApi": { "id": "telegram-credentials", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {},
      "id": "node-noop",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 420]
    }
  ],
  "connections": {
    "Schedule Trigger":      { "main": [[{ "node": "Set Crypto Params",       "type": "main", "index": 0 }]] },
    "Set Crypto Params":     { "main": [[{ "node": "Fetch CoinGecko Prices",  "type": "main", "index": 0 }]] },
    "Fetch CoinGecko Prices":{ "main": [[{ "node": "Extract Items",           "type": "main", "index": 0 }]] },
    "Extract Items":         { "main": [[{ "node": "Analyze Prices",          "type": "main", "index": 0 }]] },
    "Analyze Prices":        { "main": [[{ "node": "Has Alert?",              "type": "main", "index": 0 }]] },
    "Has Alert?":            { "main": [
      [{ "node": "Send Telegram Alert", "type": "main", "index": 0 }],
      [{ "node": "No Operation",        "type": "main", "index": 0 }]
    ]}
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [{ "id": "tag-price-monitor", "name": "price-monitor" }],
  "triggerCount": 1,
  "versionId": "3"
}
